<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE的入门</title>
</head>
<body>
    <!-- Vue运行的舞台-->
    <div id="app">
        <!-- 声明式 -->
        <h1>{{a}}</h1>
    <p>
        <!-- 文本框 -->  <!-- v-model 双向绑定-->
        <input type="text" v-model="a">
    </p>

    <p>
        <!-- 拖拽条 --> <!-- v-model 双向绑定-->
    <input type="range" v-model="a">
    </p>

    <p>
        <!-- 按钮-->
        <button @click="a++">按我加1</button>
    </p>

    <div>
        <p>
            <!-- 加入一个选项，push进去，v-model 双向绑定-->
            <input type="text" v-model="b">
            {{b}}
            <button @click="arr.push(b)">增加</button>
        </p>
    </div>



    <div>
        <ul>
            <!-- v-for指令用来做循环 -->
            <li v-for="item in arr"><!-- 变量名字 in 一个数组-->
                {{item}}
             </li>
        </ul>



    </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script>
       //运行Vue,只需要new它
        new Vue({
            //el属性定义了Vue在哪里运行
            el: '#app',
            //date表示数据
            data: {
                a: 10,
                b:'',
                arr: ['A','B','C','D']
            }
        });
    </script>    
</body>
</html>
